<ion-header-bar class="bar-stable">
  <h1 class="title">VideoKoler</h1>
</ion-header-bar>
<ion-content class="padding has-header" ng-controller="CallController as call_ctrl">

  <div class="card">
    <video id="contact-video" autoplay></video>
  </div>

  <div class="card">
    <div class="item item-text-wrap">
      Your Username: <strong>{{ username }}</strong>
    </div>
  </div>

  <div class="list">
    <label class="item item-input">
      <span class="input-label">Contact Username</span>
      <input type="text" ng-model="contact_username">
    </label>
  </div>

  <button class="button button-positive button-block" ng-click="startCall()">
    Call
  </button>
</ion-content>